<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.howold"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <!-- ShareSDK 所需权限 -->
	<uses-permission android:name="android.permission.GET_TASKS" /><!-- get task -->
	<uses-permission android:name="android.permission.INTERNET" /><!-- 网络 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!-- WiFi 状态 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- network state -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /><!-- WiFi 状态改变 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 写SD卡 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- Phone 状态 -->
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/><!-- 账户管理 -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/><!-- 获取账户 -->

    <application
        android:allowBackup="true"
        android:name="com.andy.howold.HOApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.andy.howold.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- ShareSDK  -->
		<activity
			android:name="com.mob.tools.MobUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize" >
			<intent-filter>
				<data android:scheme="tencent100371282" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--微信分享回调 -->
		<activity
			android:name=".wxapi.WXEntryActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:screenOrientation="portrait">
		</activity> 
		
		
    </application>

</manifest>
